[Unit]
Description=EnviroStation monitors environmental parameters
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/EnviroStation/EnviroStation.py > /home/pi/EnviroStation/EnviroStation.log 2>&1
User=pi

[Install]
WantedBy=multi-user.target
